﻿@{
    ViewBag.Title = "About";
}
<div id="crumbs">
    <a href="#">Home</a> <span class="delimiter">/</span>
    <span class="current">About</span>
</div>

<p>Use this area to provide additional information.</p>
