﻿
    @{
        ViewBag.Title = "Contact";
    }

    <div id="crumbs">
        <a href="#">Home</a> <span class="delimiter">/</span>
        <span class="current">Contact</span>
    </div>

    <!-- begin article -->
    <article class="page hentry">
        <header class="entry-header">
            <h1 class="entry-title"><a href="#">Contact</a></h1>
        </header>
        <!-- .entry-header -->

        <div class="entry-content">

            <div class="map full">
                <iframe width="1040" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d1270.460128691064!2d30.443747931133732!3d50.44258597301563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d50.442893399999996!2d30.4434422!5e0!3m2!1suk!2sua!4v1481236104238"></iframe>
            </div>
            <!-- Begin Form -->
            <div class="form-container">
                <h1>contact us</h1>
                <div class="response"></div>
                <form class="forms" action="Feedback" method="post">
                    <fieldset>
                        <ol>
                            <li class="form-row text-input-row">
                                <input type="text" name="name" id="name" class="text-input defaultText required" title="Name (Required)" />
                            </li>
                            <li class="form-row text-input-row">
                                <input type="text" name="email" id="email" class="text-input defaultText required email" title="Email (Required)" />
                            </li>
                            <li class="form-row text-input-row">
                                <input type="text" name="subject"id="subject" class="text-input defaultText" title="Subject" />
                            </li>
                            <li class="form-row text-area-row">
                                <textarea name="message" id="textt" class="text-area required"></textarea>
                            </li>
                            <li class="form-row text-input-row">
                                <input type="date" class="raz" onchange="localStorage.setItem('server', this.value);">
                            </li>
                            <li class="button-row">
                                <button type="submit" value="Submit" name="submit" class="btn-submit" onclick="localStorage.clear(); location.reload();">Submit</button>
                            </li>
                        </ol>
                        <input type="hidden" name="v_error" id="v-error" value="Required" />
                        <input type="hidden" name="v_email" id="v-email" value="Enter a valid email" />
                    </fieldset>
                </form>
            </div>
            <!-- End Form -->
        </div>
        <!-- .entry-content -->

    </article>
    <!-- end article -->
<script>
var dataRaz = document.querySelector('input[type="date"].raz');

if(localStorage.getItem('server') === null) { // если localStorage.getItem пустой
  dataRaz.value = new Date().toJSON().slice(0,10); // сегодняшняя дата
} else {
  dataRaz.value = localStorage.getItem('server'); // последняя дата, на которую изменил пользователь
}
</script>

<script>
var elements = document.querySelectorAll('input, textarea');

function checkValidity() {};

for (i=0; i<elements.length; i++) {
 (function(element) {
   var id = element.getAttribute('id');
   element.value = sessionStorage.getItem(id); // обязательно наличие у элементов id
   element.oninput = function() {
     sessionStorage.setItem(id, element.value);
     checkValidity();
   };
 })(elements[i]);
}
</script>
