﻿@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/popup.css" rel="stylesheet" />
<div id="crumbs">
    <a href="#">Home</a> <span class="delimiter">/</span>
    <span class="current">Gallery</span>
</div>

<!-- begin article -->
<!-- begin article -->
<article class="post hentry format-gallery">
    <header class="entry-header">
        <h2 class="entry-title"><a href="#">Artist in this Gallery</a></h2>
    </header>
    <!-- .entry-header -->

    <div class="entry-content">
        <h2 class="entry-title"><a href="~/Home/Pict">Picasso</a></h2>
        <ul class="gallery-items">
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/Picasso.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/Picasso.jpg" />
                    </span>
                </div>
            </li>
            <li>
                <p>Па́бло Ру́їс Піка́ссо — іспанський і французький художник, працював в основному у Франції, один із найвидатніших митців XX століття. У «блакитний» і «рожевий» періоди творчості створив загострено виразні твори.</p>
            </li>
        </ul>

        <h2 class="entry-title"><a href="~/Home/Pict">VanGog</a></h2>
        <ul class="gallery-items">
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/VanGog.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/VanGog.jpg" />
                    </span>
                </div>
            </li>
            <li>
                <p>Вінсент Віллем ван Гог — нідерландський художник, постімпресіоніст. Його творчий спадок мав величезний вплив насамперед на французький живопис.</p>
            </li>
        </ul>


        <h2 class="entry-title"><a href="~/Home/Pict">pissaro</a></h2>
        <ul class="gallery-items">
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/pissaro.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/pissaro.jpg" />
                    </span>
                </div>
            </li>
            <li>
                <p>Па́бло Ру́їс Піка́ссо — іспанський і французький художник, працював в основному у Франції, один із найвидатніших митців XX століття. У «блакитний» і «рожевий» періоди творчості створив загострено виразні твори.</p>
            </li>
        </ul>

        <h2 class="entry-title"><a href="~/Home/Pict">Rafajel</a></h2>
        <ul class="gallery-items">
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/Rafajel.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/Rafajel.jpg" />
                    </span>
                </div>
            </li>
            <li>
                <p>Па́бло Ру́їс Піка́ссо — іспанський і французький художник, працював в основному у Франції, один із найвидатніших митців XX століття. У «блакитний» і «рожевий» періоди творчості створив загострено виразні твори.</p>
            </li>
        </ul>

        <h2 class="entry-title"><a href="~/Home/Pict">tician</a></h2>
        <ul class="gallery-items">
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/tician.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/tician.jpg" />
                    </span>
                </div>
            </li>
            <li>
                <p>Па́бло Ру́їс Піка́ссо — іспанський і французький художник, працював в основному у Франції, один із найвидатніших митців XX століття. У «блакитний» і «рожевий» періоди творчості створив загострено виразні твори.</p>
            </li>
        </ul>
    </div>
    <!-- .entry-content -->

</article>
<!-- end article -->
<script src="~/Scripts/twitter.min.js"></script>
<script>
// When the user clicks on <div>, open the popup
    function myFunction(elem) {
        //alert($(elem).find("span"));

        //var popup = document.getElementById('myPopup');
        $(elem).find("span").toggle('slow');
    }
</script>