﻿@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/popup.css" rel="stylesheet" />
<link href="~/Content/queries.css" rel="stylesheet" />
<link href="~/Content/view.css" rel="stylesheet" />
<div class="intro">
    Hello! Welcome to online Gallery. Here
    on this Gallery you will be able to find different artist work.
</div>

<!-- begin article -->
<article class="post hentry format-gallery">
    <header class="entry-header">
        <h2 class="entry-title"><a href="#">Artist in this Gallery</a></h2>
    </header>
    <!-- .entry-header -->

    <div class="entry-content">
        <ul class="gallery-items">
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/Picasso.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/Picasso.jpg" />
                    </span>
                </div>
            </li>
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/VanGog.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/VanGog.jpg" />
                    </span>
                </div>
            </li>
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/Rafajel.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/Rafajel.jpg" />
                    </span>
                </div>
            </li>
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/tician.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/tician.jpg" />
                    </span>
                </div>
            </li>
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/pissaro.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/pissaro.jpg" />
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <!-- .entry-content -->

</article>
<!-- end article -->

<div class="clear"></div>
<script src="~/Scripts/scripts.js"></script>
<script src="~/Scripts/twitter.min.js"></script>
<script>
// When the user clicks on <div>, open the popup
    function myFunction(elem) {
        //alert($(elem).find("span"));

        //var popup = document.getElementById('myPopup');
        $(elem).find("span").toggle('slow');
    }
</script>