﻿
@{
    ViewBag.Title = "Pictures";
}
<link href="~/Content/popup.css" rel="stylesheet" />
<div id="crumbs">
    <a href="#">Home</a> <span class="delimiter">/</span>
    <a href="#">Gallery</a><span class="delimiter">/</span>
    <span class="current">Pictures</span>
</div>

<!-- begin article -->
<article class="post hentry format-gallery">
    <header class="entry-header">
        <h2 class="entry-title"><a href="#">Pictures of Artists</a></h2>
    </header>
    <!-- .entry-header -->

    <div class="entry-content">
        <ul class="gallery-items">
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/Picasso.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/Picasso.jpg" />
                        <span style="display:none; color: white;">Описание картины</span>
                    </span>
                </div>
            </li>
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/VanGog.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/VanGog.jpg" />
                        <span style="display:none; color: white;">Описание картины</span>
                    </span>
                </div>
            </li>
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/Rafajel.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/Rafajel.jpg" />
                        <span style="display:none; color: white;">Описание картины</span>
                    </span>
                </div>
            </li>
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/tician.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/tician.jpg" />
                        <span style="display:none; color: white;">Описание картины</span>
                    </span>
                </div>
            </li>
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/Picasso.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/Picasso.jpg" />
                        <span style="display:none; color: white;">Описание картины</span>
                    </span>
                </div>
            </li>
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/VanGog.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/VanGog.jpg" />
                        <span style="display:none; color: white;">Описание картины</span>
                    </span>
                </div>
            </li>
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/Rafajel.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/Rafajel.jpg" />
                        <span style="display:none; color: white;">Описание картины</span>
                    </span>
                </div>
            </li>
            <li class="item">
                <div class="popup" onclick="myFunction(this)">
                    <img src="~/images/art/tician.jpg" alt="" />
                    <span class="popuptext" id="myPopup">
                        <img src="~/images/art/tician.jpg" />
                        <span style="display:none; color: white;">Описание картины</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <!-- .entry-content -->

</article>
<!-- end article -->

<script>
// When the user clicks on <div>, open the popup
    function myFunction(elem) {
        //alert($(elem).find("span"));

        //var popup = document.getElementById('myPopup');
        $(elem).find("span").toggle('slow');
    }
</script>