﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/type/marketdeco.css" rel="stylesheet" />
        <link href="~/Content/type/merriweather.css" rel="stylesheet" />
    <meta name="description" content="галерея, ее написал студент ти-42" />
</head>
<body onload="draw();">
   
    <div id="page" class="hfeed">
        <div id="wrapper">
            <header id="branding" role="banner">
                <h1 id="site-title">Gallery</h1>
                <div class="social">
                    <div class="widget_search">
                        <form method="get" class="search-form">
                            <input type="submit" value="Search" class="search-submit-button" />
                            <input type="text" value="Search" onfocus="this.value=''" onblur="this.value='Search'" name="s" class="search-text-box" />
                        </form>
                    </div>
                </div>
                <nav id="access" class="access" role="navigation">
                    <div id="menu" class="menu">
                        <ul id="tiny">
                            <li><a href="~/Home/Index">Main</a></li>
                            <li><a href="~/Home/Gallery">Gallery</a></li>
                            <li><a href="~/Home/About">About</a></li>
                            <li><a href="~/Home/Contact">Contact</a></li>
                        </ul>
                    </div>
                    <div class="triangle-l"></div>
                    <div class="triangle-r"></div>
                </nav>
            </header>
            <!-- #branding -->
            <div id="main">
                <div id="primary">
                    <div id="content" role="main">
                        @RenderBody()
                    </div><!-- #content -->
                </div><!-- #primary -->

            </div><!-- #main -->
            <footer id="colophon" role="contentinfo">

                <div id="site-generator">
                    Filimonov&Co
                </div>
            </footer><!-- #colophon -->
        </div><!-- #wrapper -->
    </div><!-- #page -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/twitter.min.js"></script>
        <script src="~/Scripts/ddsmoothmenu.js"></script>
        <script src="~/Scripts/jquery-1.7.1.min.js"></script>
        <script src="~/Scripts/jquery.fitvids.js"></script>
        <script src="~/Scripts/jquery.infieldlabel.min.js"></script>
        <script src="~/Scripts/scripts.js"></script>
        <script src="~/Scripts/selectnav.js"></script>
</body>
</html>
